# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Metaflow runtime artifacts
metaflow_card_cache/
metaflow.s3*/
python/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
